.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  /* background: #04043a; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
}

@media screen and (max-width: 604px) {
  .App-header {
    font-size: calc(6px + 2vmin);
  }
}

/* GetPlayers.js */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #04043a;
}

.fifaLogo {
  width: 100%;
  align-self: center;
}

.womensCup {
  /* width: 100%; */
  height: 80%;
  align-self: center;
  justify-self: center;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: .5rem;
}

button {
  border-radius: 1rem;
  margin-bottom: .5rem;
  /* background: gainsboro; */
}

/* DisplayPlayers */

.header {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding-top: .5rem;
  padding-bottom: .75rem;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  background: #213a8e;
  border-bottom: .025px solid lightslategray;
}

.container {
  /* border: 1px solid orange; */
  border-bottom: 3rem solid #0156a3;
}

.playerEntry {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  color: white;
  background: #0156a3;
  border-bottom: .025px solid lightslategray;
}

.playerEntry:hover {
  background: midnightblue;
}

/* ColorToggle */

.App-header {
  /* color: gainsboro; */
  /* background: mediumvioletred; */
  /* background: hotpink; */
}

header {
  color: gainsboro;
  background: mediumvioletred;
  /* background: hotpink; */
}

.header {
  color: white;
  background: deeppink;
  border-bottom: .025px solid lavender;
}

.container {
  border-bottom: 3rem solid hotpink;
}

.playerEntry {
  color: white;
  background: hotpink;
  /* background: mediumvioletred; */
  /* background: palevioletred; */
  border-bottom: .025px solid lavender;
}

.playerEntry:hover {
  /* background: hotpink; */
  background: mediumvioletred;
}

/* ColorToggle 2 */

header {
  color: white;
  /* background: mediumvioletred; */
  /* background: hotpink; */
  background: darkmagenta;
}

.header {
  color: white;
  /* background: deeppink; */
  background: mediumorchid;
  border-bottom: .025px solid lavender;
}

.container {
  border-bottom: 3rem solid orchid;
}

.playerEntry {
  color: white;
  /* background: hotpink; */
  /* background: mediumvioletred; */
  /* background: palevioletred; */
  background: orchid;
  border-bottom: .025px solid thistle;
}

.playerEntry:hover {
  /* background: hotpink; */
  background: darkorchid;
}